<div class="container mt-2">
  <h1 class="text-center">ALL THE RIGHT GOALS</h1>  <div class="row">
    <div class="col-md-6">
      <app-form-component (addGoal)= "addNewGoal($event)"></app-form-component>
    </div>
    <div class="cardHolder col-md-6">
      <div class="card text-center mt-4" *ngFor='let goal of goals;let i = index'>
        <div class="card-header">
          <h6 id={{i}} appStrikethrough>{{goal.name}}</h6>
        </div>
        <div class="card-body">
          <!-- <button (click)='toggleDetails(i)' class="btn btn-primary mb-2">Toggle Details</button>
          <div *ngIf='goal.showDescription'>
            <app-goal-detail [goal]='goal' (isComplete) = 'completeGoal($event,i)'></app-goal-detail>
          </div> -->
          <button class="btn btn-primary m-2" (click)='goToUrl(goal.id)'>View Details</button>
          <button class="btn btn-outline-danger m-2" (click)='deleteGoal(i)'>Delete Goal</button>
        </div>
        <div class="card-footer text-muted">
         Posted: {{goal.completeDate|date|uppercase}} <br>
          {{goal.completeDate|dateCount}}
        </div>
      </div>
    </div>
  
  </div>
  <p *ngIf='goals.length ==0' class="alert-warning">OOPS! You have no goals</p>
</div>


